.blog-header {
  background-repeat: repeat; 
  background-position: top center; 
  background-attachment: scroll; 
  background-size: cover; 
  
  position: relative;
  z-index: 2;
  width: 100%;
  height: 300px;
}

.blog-header:before {
  content: '';
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.blog-header .blog-header-content {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.blog-header .blog-header-content h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;  
  font-size: 50px;    
  text-align: center;
}

.blog-site-navigation {
  display: block;
}

.blog-nav-menu a{
  color: white;
  font-weight:  400px;
}

.blog-nav-menu a:hover {
  color: #ccc;
  text-decoration: none;
}

.blog-nav-menu {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  display: flex;  
  justify-content: space-between;

}

.blog-nav-menu {
  list-style: none;
}

.blog-title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: white;
}

.blog-title-content ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.blog-header-content li {
  padding-right: 25px;
}

.blogpost-box {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #616161;
}

.blog-text a {
  color: black;
  text-decoration: none;
}

.blog-text a:hover {
  color: #5D5D5D;
}

@media (min-width: 992px){
  .sidebar {
      position: fixed;
      top: 0;
      width: 35%;
  }  

  .site-navigation ul{
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .mobile-hide {
    display: block;
  }

  .blog-site-navigation {
    display: none;
  }
}