@media (min-width: 992px) {
  .site-content, .secondary {
    margin-left: 35%;
  }  
}

.site-content h1{
  font-family: 'Julius Sans One', sans-serif;
}

.site-content {
  padding: 20px;
  font-family: 'Archivo Narrow', sans-serif;
}


